<p>job-listings works!</p>
<!-- <div (click)="filterListings()">filter list</div> -->
<ul class="currentFilters" *ngIf="languageFilters.length || toolFilters.length">
  <div class="currentFilters__wrapper">
    <li
      class="currentFilters__filter-button"
      *ngFor="let filter of languageFilters"
    >
      <p class="currentFilters__filter-name">{{ filter }}</p>
      <div class="currentFilters__remove" (click)="removeLangFilter(filter)">
        <img src="../assets/images/icon-remove.svg" alt="removeFilter" />
      </div>
    </li>
    <li
      class="currentFilters__filter-button"
      *ngFor="let filter of toolFilters"
    >
      <p class="currentFilters__filter-name">{{ filter }}</p>
      <div class="currentFilters__remove" (click)="removeToolFilter(filter)">
        <img src="../assets/images/icon-remove.svg" alt="removeFilter" />
      </div>
    </li>
  </div>

  <p class="currentFilters__clear" (click)="clearFilters()">Clear</p>
</ul>
<ul class="listings">
  <li
    class="listings__listing-TEMP"
    *ngFor="let listing of filteredJobListings"
    [ngStyle]="{
      borderLeft: listing.featured
        ? '0.25rem solid var(--desaturated-dark-cyan)'
        : ''
    }"
  >
    <img class="listings__listing-logo" [src]="listing.logo" alt="logo" />
    <div class="listings__listing-info-lang-tools-wrapper">
      <div class="listings__listing-info">
        <div class="listings__listing-company-new-featured-wrapper">
          <p class="listings__listing-company">{{ listing.company }}</p>
          <p class="listings__listing-new" *ngIf="listing.new">NEW!</p>
          <p class="listings__listing-featured" *ngIf="listing.featured">
            FEATURED
          </p>
        </div>
        <h1 class="listings__listing-position">{{ listing.position }}</h1>
        <div class="listings__listing-posted-contract-location-wrapper">
          <p>{{ listing.postedAt }}</p>
          <span>&centerdot;</span>
          <p>{{ listing.contract }}</p>
          <span>&centerdot;</span>
          <p>{{ listing.location }}</p>
        </div>
      </div>
      <div class="listings__listing-languages-tools">
        <div
          class="listings__listing-lang"
          *ngFor="let lang of listing.languages"
          (click)="addLangFilter(lang)"
        >
          {{ lang }}
        </div>
        <div
          class="listings__listing-tool"
          *ngFor="let tool of listing.tools"
          (click)="addToolFilter(tool)"
        >
          {{ tool }}
        </div>
      </div>
    </div>
  </li>
</ul>
